.a-switch {
  display: flex;
  background-color: $light-grey;
  border: 1px solid $dark-grey;
  border-radius: 20px;
  height: 20px;
  min-width: 40px;
  width: 40px;
  position: relative;
  cursor: pointer;

  &__toggle {
    transition: all .2s ease;
    position: absolute;
    top: 1px;
    height: 16px;
    width: 16px;
    left: 1px;
    background-color: $dark-grey;
    border-radius: 20px;
  }

  &.-checked {
    .a-switch__toggle {
      left: 20px;
    }
  }
}