.m-show {
  position: relative;
  box-sizing: border-box;
  padding: 6px 5px;
  color: $white;
  border-radius: 8px;
  cursor: pointer;
  z-index: 9;

  &.-active {
    border-top-left-radius: 0;

    &::before {
      position: absolute;
      top: -5px;
      left: 0;
      width: 45px;
      height: 5px;
      background: repeating-linear-gradient(45deg,
          $light-green,
          $light-green 5px,
          $green 5px,
          $green 10px);
      border-radius: 4px 4px 0 0;
      content: ""; 
    }

    .m-show__buddys {
      opacity: 1;
    }
  }

  &.-mainstage-1 {
    grid-column: 1;
    background-color: $mainstage1;
  }

  &.-mainstage-2 {
    grid-column: 2;
    background-color: $mainstage2;
  }

  &.-warzone {
    grid-column: 3;
    background-color: $warzone;
  }

  &.-valley {
    grid-column: 4;
    background-color: $valley;
  }

  &.-temple {
    grid-column: 5;
    background-color: $temple;
  }

  &.-altar {
    grid-column: 6;
    background-color: $altar;
  }

  &__artist {
    overflow: hidden;
    font-size: 17px;
    font-weight: 600;
    line-height: 1;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
  }
  
  &__hour {
    font-size: 11px;
    line-height: 1;
  }

  &__buddys {
    position: absolute;
    right: 10px;
    bottom: -8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;
    
    &Item {
      width: 17px;
      overflow: visible;
    }
  }
}