.m-show {
  position: relative;
  box-sizing: border-box;
  padding: 5px;
  color: $white;
  border-radius: 8px;
  cursor: pointer;
  z-index: 9;

  &.-active {
    .m-show__buddys {
      opacity: 1;
    }
  }

  &.-mainstage-1 {
    grid-column: 1;
    background-color: $mainstage1;
  }

  &.-mainstage-2 {
    grid-column: 2;
    background-color: $mainstage2;
  }

  &.-warzone {
    grid-column: 3;
    background-color: $warzone;
  }

  &.-valley {
    grid-column: 4;
    background-color: $valley;
  }

  &.-temple {
    grid-column: 5;
    background-color: $temple;
  }

  &.-altar {
    grid-column: 6;
    background-color: $altar;
  }

  &__artist {
    display: flex;
    gap: 2px;
    align-items: center;
    overflow: hidden;
    font-size: 18px;
    font-weight: 600;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
  }

  &__heart {
    display: inline-flex;
    justify-content: center;
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &__buddys {
    position: absolute;
    right: 10px;
    bottom: -12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.6;
    
    &Item {
      width: 20px;
      overflow: visible;
    }
  }
}