.a-heading {
  color: $black;
  font-family: $tungsten;
  font-style: normal;

  &.-uppercase {
    text-transform: uppercase;
  }

  &.-green {
    color: $green;
  }

  &.-red {
    color: $red;
  }

  &.-purple {
    color: $purple;
  }

  &.-white {
    color: $white;
  }

  &.-mediumGrey {
    color: $medium-grey
  }

  // Heading
  &[class*='h1'] {
    font-size: 24px;
    line-height: 1.5;
  }

  &[class*='h2'] {
    font-size: 20px;
    line-height: 1.5;
  }

  &[class*='h3'] {
    font-size: 16px;
    line-height: 1.5;
  }

  &[class*='h4'] {
    font-size: 14px;
    line-height: 1.5;
  }

  // Weight
  
  &[class*='Light'] {
    font-weight: 300;
  }
  
  &[class*='Regular'] {
    font-weight: 400;
  }
  
  &[class*='Medium'] {
    font-weight: 500;
  }
  
  &[class*='SemiBold'] {
    font-weight: 600;
  }
  
  &[class*='Bold'] {
    font-weight: 700;
  }
}