.o-popin {
  &__layover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($black, 0.2);
    backdrop-filter: blur(2px);
    z-index: 50;
  }
  
  &__container {
    position: fixed;
    top: 50%;
    left: 50%; 
    width: 85vw;
    max-width: 350px;
    height: 70vh;
    padding: 10px;
    overflow: auto;
    background-color: $white;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    z-index: 51;
  }
}