.a-toggleEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 40px;
  font-size: 24px;
  border: 4px solid $medium-grey;
  cursor: pointer;


    &.-on {
      border-color: $green;
    }

    &.-off {
      border-color: $red;
    }
}