/****************/
/**** COLORS ****/
/****************/

$black: #21272b;
$dark-grey: #4f4f4f;
$grey: #888;
$medium-grey: #ccc;
$light-grey: #e0e0e0;
$white: #ffffff;

$background-dark: #000000;
$background-purple: #eaeafc;
$background-light: #f6f7ff;

$blue: #135DB2;
$red: #f13359;
$orange: #ffad31;
$green: #0b8e28;
$light-green: #6df38b;
$purple: #465298;
$lighter-purple: #606dbc;

$mainstage1: #135DB2;
$mainstage2: #959595;
$warzone: #88962E;
$valley: #CE731C;
$temple: #7a96a3;
$altar: #E3322A;


/***************/
/**** FONTS ****/
/***************/
$tungsten: 'Tungsten';
$mush: 'MushtenDeco24';

$title-font: $tungsten;
$text-font: $tungsten;