.o-buddysPopin {
  .m-table {
    width: 100%;
    margin: 20px 0 30px;
    font-size: 16px;
    text-align: left;

    &__cell {
      height: 30px;
      vertical-align: middle;
      border-top: 1px solid $medium-grey;

      &.-chip {
        width: 25px;
        padding: 5px 10px 5px 0;
      }

      &.-scanTs {
        text-align: center;
      }

      &.-action {
        width: 15%;
        text-align: right;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          margin-left: auto;
          color: $white;
          background-color: $red;
          border: 1px solid $red;
          border-radius: 4px;
          cursor: pointer;
          svg {
            width: 25px;
            height: 25px;
          }
        }
      }
    }
  }

  .a-button {
    position: sticky;
    bottom: 0px;
    width: 100%;
    margin-top: auto;
    z-index: 10
  }

  &__buttons {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__fileUploadLabel {
    width: 100%;
    padding: 4px 8px;
    color: $white;
    font-family: $text-font;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    background-color: $background-dark;
    border: none;
    cursor: pointer;
  }

  &__fileUploadInput {
    display: none;
  }
}